body {
	display: grid;
	grid-template-columns: 2fr 8fr
}

#show-panel {
text-align: center;	
background-color: #f8f0e3;
height: 100%;
opacity: 0.8;
border-top: solid;
border-width: 30px;


}

#list-panel {
	background-color: #b32e2e;
}
.btn {
	background-color: rgb(255, 30, 30);
	border: none; /* Remove borders */
	color: white; /* White text */
	padding: 4px 4px; /* Some padding */
	font-size: 50px; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
	background-color: RoyalBlue;
  }
  #header-show-panel {
	font-size: 32px;
	font-family: "Acme", sans-serif;
	font-style: normal;
	font-weight: 400;
	src:url()
  }

  #img-cocktail {
	  max-width: 50%;
  }

  #comments-section{
	position: relative; top:2px;
	min-width:22%;
	height: 90%;
	top:0%;
	right:0%;
	z-index:10;
	background-color:rgb(255, 249, 249);
	border: 1px solid rgb(255, 243, 243);
  }

  #comments{
	height: 90%;
	top:90%;
	right:75%;
	z-index:0;
  }
  ul{
	  list-style-type:none;
  }